@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800&display=swap');

:root {
    --Background-color: #fff;
    --Text-color: #000;
    --Second-text-color: #FFE355;
}

/* Base style */

* {
    font-family: 'Tektur', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--Text-color);
    color: var(--Background-color);
}

/* Reuseable components */

section {
    padding: 0 10%;
}

*::selection{
    background: var(--Text-color);
    color: var(--Background-color);
}

/* Reuseable components */

section {
    padding: 0 10%;
}
 
/*-- Header --*/

.header {
    position: fixed;
    width: 100%;
    padding: 2rem 10%;
    background: var(--Background-color);
    border-bottom: 1px solid #979797;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo-box p {
    font-size: 1.5rem;
    font-weight: 500;
}

.logo-box svg path {
    fill: var(--Text-color);
}

.nav-menu button a {
    display: block;
    font-size: 1rem;
    padding: 1em;
    background-color: var(--Text-color);
    color: var(--Background-color);
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.nav-menu button a:hover {
    background-color: var(--Second-text-color);
    color: var(--Text-color);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    background-color: var(--Text-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bar:nth-child(2) {
    width: 20px;
}

/*-- Header ends --*/

/* Hero starts */

main {
    padding-top: 7.4em;
    margin-bottom: 10em;
}

.hero-section .sec-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-box .first-txt-box .status {
    display: flex;
    align-items: center;
    gap: .2em;
    font-size: 5rem;
    font-weight: 400;
}

.txt-box .first-txt-box p {
    width: 90%;
}

.txt-box .second-txt-box {
    margin-top: 3em;
}

.txt-box .second-txt-box h2 {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}

.second-txt-box .brought-box, .took-box {
    margin-top: 1em;
}

.second-txt-box .history-ptag {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.second-txt-box .brtk-time {
    margin-right: 1em;
}

.second-txt-box .brtk-time, .second-txt-box .brtk-date {
    font-size: .8rem;
}

/* Hero ends */

/* Footer Starts */

footer {
    border-top: 1px solid #979797
}

.footer-section .ft-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.ft-container .ft-privacy-terms-box {
    display: flex;
    gap: 5em;
}

.ft-privacy-terms-box span a {
    color: var(--Text-color);
}