* {
    margin: 0;
    padding: 0;
  }
  body {
     width: 1440px; 
  }
  .header {
    box-sizing: border-box;
    position: absolute;
     /* width: 100%; */
     width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border-bottom: 1px solid #979797;  

  }
  .btn button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
  
    position: absolute;
    width: 232px;
    height: 49px;
    left: 1058px;
    top: calc(50% - 49px / 2 - 0.5px);
  
    background: #000000;
  
    /* Contribute to this Service */
  
    width: 200px;
    height: 21px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
  
    color: #ffffff;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .logo-icon {
    height: 32px;
    position: absolute;
    top: 34px;
    left: 140px;
    width: 32px;
  }
  .logo h2 {
    /* Sensory */
  
    position: absolute;
    left: 12.92%;
    right: 80.14%;
    top: 34%;
    bottom: 35%;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
  
    color: #000000;
  }
  
  /* hero section */
  
  .hero {
    display: flex;
    width: 1440px;
    /* position: absolute; */
  }
  .left {
    font-size: 24px;
    color: #333;
    display: flex;
    flex-direction: column;
    left: 150px;
    top: 228px;
    width: 775px;
    height: 167px;
  }
  .left h2 {
    position: absolute;
    width: 343px;
    height: 125px;
    left: 150px;
    top: 160px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 125px;
    /* identical to box height */
  
    color: #000000;
  }
  .left p {
    position: absolute;
    width: 775px;
    height: 42px;
    left: 150px;
    top: 300px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  
    color: #000000;
  }
  .left img {
    position: absolute;
    width: 156.13px;
    height: 125px;
    top: 160px;
    left: 450px;
  }
  
  .right img {
    position: absolute;
    height: 500px;
    top: 100px;
    left: 1100px;
    /* right: 1100px; */
    width: 164.9px;
  }
  .group {
    position: absolute;
    width: 203px;
    height: 284px;
    top: 400px;
    left: 150px;
  }
  .group h2 {
    size: 32px;
    line-height: 41.6px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .group p {
    font-weight: 400;
    size: 20px;
    line-height: 26px;
  }
  footer {
    position: absolute;
    border-top: 1px solid grey;
    display: flex;
    top: 820px;
    justify-content: space-between;
    width: 1440px;
    height: 100px;
  }
  .all {
    position: absolute;
    width: 290px;
    height: 24px;
    left: 150px;
    bottom: 38px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.1px;
  
    color: #000000;
  }
  .privacy {
    /* Privacy Policy */
  
    position: absolute;
    width: 106px;
    height: 24px;
    left: 969px;
    top: 38px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.1px;
  
    color: #000000;
  }
  .terms {
    /* Terms & Conditions */
  
    position: absolute;
    width: 149px;
    height: 24px;
    left: 1141px;
    top: 38px;
  
    font-family: "Tektur";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.1px;
  
    color: #000000;
  }
  @media screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      background-color: red;
    }
  }
  